# Table of Content
- [Imports](#imports)
- [Resources](#resources)
- [Load Data Sets](#load-data-sets)
- [Merge orders with orders_products_prior](#merge-orders-with-orders_products_prior)
- [Export to Pickle](#export-to-pickle)

## Imports [#](#table-of-content)

In [1]:
from pathlib import Path

import numpy as np
import pandas as pd

## Resources [#](#table-of-content)

In [2]:
# project folder
project_folder = Path(r"C:\Users\vynde\Desktop\CareerFoundry Data Analytics\Data Immersion - 4 Python Fundamentals for Data Analysts\Instacart_Basket_Analysis")

# resource folders
original_data_folder = project_folder / "02_Data" / "Original_Data"
prepared_data_folder = project_folder / "02_Data" / "Prepared_Data"

# input files
ords_prior_data_file = original_data_folder / "order_products__prior.csv"

cleaned_oders_data_file = prepared_data_folder / "orders_cleaned.csv"
cleaned_products_data_file = prepared_data_folder / "products_cleaned.csv"

# output files
orders_products_combined_data_file = prepared_data_folder / "orders_products_combined.pkl"

## Load Data Sets [#](#table-of-content)

Orders Products Prio Data Set

In [3]:
df_ords_prior = pd.read_csv(ords_prior_data_file)
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

Orders Data Set (Cleaned)

In [4]:
df_ords = pd.read_csv(cleaned_oders_data_file)
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,0.0
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [5]:
df_ords.drop(columns=["Unnamed: 0", "Unnamed: 0.1"], inplace=True)

Products Data Set

In [6]:
df_prods = pd.read_csv(cleaned_products_data_file, index_col=False)
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

## Merge orders with orders_products_prior [#](#table-of-content)

In [7]:
# merge orders and oders_prior
df_ords_prods_combined = df_ords.merge(df_ords_prior, on="order_id", indicator=True)

In [8]:
df_ords_prods_combined["_merge"].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

Check outer merge

In [9]:
df_ords.merge(df_ords_prior, on="order_id", how="outer", indicator=True)["_merge"].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

>No full merge performed

## Export to Pickle [#](#table-of-content)

In [10]:
# Export data to pkl
df_ords_prods_combined.drop(columns=["_merge"]).to_pickle(orders_products_combined_data_file)

In [11]:
df_ords_prods_combined.shape

(32434489, 10)